.match {
  width: 100vw;
  height: 100vh;
}

.player {
  position: absolute;
  left: 30px;
  bottom: 0;
  width: 400px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  box-shadow: 2px 2px 10px black;
  overflow: hidden;

  & > p {
    white-space: nowrap;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 26px;
    font-family: 'Montserrat';
  }

  .playerCam {
    overflow: hidden;
    padding-top: 7px;
    z-index: -1;
    /*transition: margin-bottom 0.3s;

    &[data-show="false"] {
      margin-bottom: -222px;
      & iframe {
        box-shadow: none !important;
      }
    }*/

    & > div {
      width: 368px;
      height: 207px;
      background-color: #0000;
      border-radius: 5px;
      border: 15px solid;
      border-top: 0;
  
      iframe {
        margin: 0;
        border: 0;
        border-radius: 5px;
      }
    }
    
  }

  .tags {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    p {
      font-size: 18px;
      width: 20%;
      text-align: center;
      margin: 5px 0;
      font-family: 'Montserrat';
      font-weight: 600;
    }
  }

  .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    p {
      line-height: 48px;
      font-size: 34px;
      text-align: center;
      width: 20%;
      margin: 0;
      padding: 0;
      margin-bottom: 10px;
    }
  }
}

.cams {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;

  & > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 272px;

    &:last-child {
      margin-left: auto;
      transition: margin-right 0.5s;

      &[data-show="true"] {
        margin-right: 0;

        & > div {
          border-bottom: 6px solid;
          border-left: 6px solid;
        }

        & > div:first-child {
          border-top: 6px solid;
        }
      }

      &[data-show="false"] {
        margin-right: -272px;
      }

    }

    &:first-child {
      transition: margin-left 0.5s;

      &[data-show="true"] {
        margin-left: 0;

        & > div {
          border-bottom: 6px solid;
          border-right: 6px solid;
        }

        & > div:first-child {
          border-top: 6px solid;
        }
      }

      &[data-show="false"] {
        margin-left: -272px;
      }
    }

    & > div {
      background-color: #000;
      height: 153px;
      width: 272px;

      & > iframe {
        margin: 0;
        border: 0;
      }
    }
  }
}

.statfeed {
  transition: top 1s;
  max-width: 750px;
  border: none;
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: rgba(0, 0, 0, 0);

  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-start;
  align-items: flex-end;

  &::-webkit-scrollbar {
    display: none;
  }

  & > div {
    margin-top: 15px;
    text-transform: uppercase;
    background-color: black;
    max-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width:0;
    border-radius: 6px;

    & > p {
      color: white;
      font-family: 'Montserrat';
      font-size: 24px;
      margin: 0;
      padding: 5px 10px;

      &[data-name="true"] {
        background-color: black;
        font-weight: 600;
      }
    }

    & > p:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}

.boost {
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 260px;
  height: 260px;
  border: none;
  z-index: 9;
  background-color: #0000;
  margin: 0px auto;
  overflow: hidden;
  transform: scale(0.8);
  transform-origin: 0 0;

  p {
    color: white;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
  }

  svg > circle {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
}

.scorebug {
  position: absolute;
  top: 30px;
  left: 30px;
  box-shadow: 2px 2px 10px black;
  border: 2px solid black;
  line-height: 1;
  transition: top 0.5s;
  width: 270px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 142px;

  transition: opacity .4s;

  &:not([data-show="true"]) {
    opacity: 0;
  }

  .clock {
    justify-content: center;
    align-content: center;
    background-color: black;
    transition: margin-bottom 1s;
    transition-delay: 0.8s;

    &:not([data-show="true"]) {
      margin-bottom: -56px;
    }

    & > p {
      color: white;
      //font-family: 'Montserrat', sans-serif;
      letter-spacing: 2px;
      font-family: exo;
      font-weight: 600;
      font-size: 36px;
      margin: 0;
      padding: 10px 0;
      background-color: black;
      text-align: center;
    }
  }

  .teams {
    z-index: 5;
    overflow: hidden;

    & > div:not(:last-child) {
      border-bottom: 1px solid #0005;
    }

    & > div:not(:first-child) {
      border-top: 1px solid #0005;
    }
  }

  .team {
    background-color: black;
    height: 70px;
    display: flex;
    position: relative;
    flex-direction: row;
    overflow: hidden;

    transition: transform 0.6s;

    &[data-goal="1"] {
      transform: translateY(-71px);
    }

    &[data-goal="2"] {
      transform: translateY(70px);
    }

    // Team name, series score
    & > div:first-child {
      width: 190px;

      & > p {
        overflow: hidden;
        text-overflow: clip;
        white-space: nowrap;
        word-wrap: break-word;
        max-width: 165px;
        font-family: match;
        font-size: 40px;
        margin: 0;
        margin-left: 10px;
        padding-top: 5px;
      }

      border-right: 4px solid #000;
      border-bottom-right-radius: 30px;
    }

    // Game score, logo
    & > .score {
      width: 80px;
      background-color: #ffcc33;
      color: #7a0019;
      border-top-left-radius: 30px;
      border-left: 4px solid #000;

      & > p {
        font-family: match;
        font-size: 60px;
        font-weight: 600;
      }

      & > img {
        position: relative;
        opacity: .3;
        z-index: 2;
        margin-left: -36px;
        height: 100%;
        object-fit: contain;
        width: 115px;
      }
    }
  }

  .series {
    height: 15px;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 5px;

    & > div {
      width: 25px;
      height: 5px;
    }

    & > div[data-active="true"] {
      background-color: yellow;
      box-shadow: 0 0 5px 2px yellow;
      margin-right: 5px;
    }

    & > div[data-active="false"] {
      margin-right: 5px;
      background-color: rgb(126, 98, 6);
      box-shadow: 0px 0px 15px rgb(212, 163, 3) inset;
    }
  }

  .goalspeed {
    justify-content: center;
    align-items: center;
    background-color: black;
    transition: margin-top 1s;

    &[data-replay="true"] {
      margin-top: 0px;
    }

    &:not([data-replay="true"]) {
      margin-top: -42px;
    }

    & > p {
      color: white;
      font-family: match;
      font-size: 26px;
      margin: 0;
      padding: 8px 0;
      background-color:black;
      text-align: center;
    }
  }
}