.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: #444;

  p:first-child {
    font-size: 36px;
    font-weight: bolder;
  }

  p:last-child {
    font-size: 34px;
    margin-left: 10px;
  }
}